body {
	padding-top: 80px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #fff;
}
nav {
	box-shadow: 0 0 10px #666;
}
.navbar-brand {
	color: #ddd !important;
}
.inverted, .inverted a {
	color: #ddd;
}
